{% extends "base.html" %}

{% block app_content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Repas</th>
      <th scope="col">Lundi</th>
      <th scope="col">Mardi</th>
      <th scope="col">Mercredi</th>
      <th scope="col">Jeudi</th>
      <th scope="col">Vendredi</th>
      <th scope="col">Samedi</th>
      <th scope="col">Dimanche</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Midi</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Soir</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Ingrédients</th>
      <th scope="col">Stock</th>
    </tr>
  </thead>
  {% if ingredients %}
  <tbody>
    {% for ingredient in ingredients %}
    <tr>
        <th scope="row">{{ ingredient.getName() }}</th>
        <td>{{ ingredient.getStock() }}</td>
    </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
{% endblock %}
